@model WebApplication45.Models.UserTour

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserTour</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TourType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TourType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Adults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Adults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Kids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Kids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deposit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deposit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Tickets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Tickets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuestCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tour_Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tour_Cost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
