@model WebApplication45.Models.UserCruise

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserCruise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ship_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cruise_Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cruise_Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Adults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Adults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num_Kids)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num_Kids)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departure_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departure_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ship_Fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ship_Fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
